body {
    text-align: center;
    
}
h1 {
    font-family: 'Lobster', cursive;
    color:blueviolet;
    font-weight:bold; 
    text-align: center;

}
p {
    font-family: 'Lobster', cursive;
    color:blueviolet;
    font-size: large;
    text-align: center;
}
button {
    background-color:blueviolet;
    color: white;
    border-radius: 50%;
}
#answer {
    color: blueviolet;
    font-size: large;
    font-weight: bold;

}  

#image {

    justify-content: center;
    
}
#input-box {
    border-radius: 10px;
}